<block-ui>
    <div>
        <div class="panel panel-success">
            <div class="panel-heading">List of contacts</div>
            <table class="table table-striped table-bordered text-center">
                 <thead>
                    <tr>
                       <th>Name</th>
                       <th>Phone</th>
                       <th>Address</th>
                       <th>E-mail</th>
                       <th>Relative</th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let friend of friends">
                        <td>{{friend.name}}</td>
                        <td>{{friend.phone}}</td>
                        <td>{{friend.email}}</td>
                        <td>{{friend.address}}</td> 
                        <td>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" *ngIf="friend.relative"></span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" *ngIf="!friend.relative"></span>
                        </td>
                        <td>
                            <a class="btn btn-default" [routerLink]="['/edit', friend._id]">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right">    
            <button type="submit" class="btn btn-default" (click)="download()" id="list_btn_download" aria-hidden="true" *ngIf="friends && friends.length > 0">
                <span class="glyphicon glyphicon-download"></span>
                Download CSV
            </button>
            <a class="btn btn-default" [routerLink]="['/edit']">
                <span class="glyphicon glyphicon-plus"></span>
                New contact
            </a>
        </div>
    </div>
</block-ui>